.deps
.libs
aclocal.m4
autom4te.cache
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
Makefile
Makefile.in
MakeOut
missing
mkinstalldirs
shadows.DONE
stamp-h1
xext.pc
*~
*.o
*.la
*.lo
*.3*
libXext-*.tar.*
ChangeLog
tags
